{% extends 'base.html.twig' %}

{% block title %}Calculadora Service{% endblock %}

{% block body %}
<div>
    <h1>Calculadora Service</h1>
    <ul>
        <li>Suma: {{ suma }}</li>
        <li>Resta: {{ resta }}</li>
        <li>Multiplicación: {{ multiplicacion }}</li>
        <li>División: {{ division }}</li>
    </ul>
</div>
{% endblock %}
