<div class="panel" style="border:2px solid #ccc; padding:16px; margin:16px auto; border-radius:8px; background-color:#f9f9f9; word-wrap:break-word; overflow-wrap:break-word; max-width:300px; width:100%;">
    <div class="panel-body" style="padding:16px; border-radius:8px;">
        {% block title %}Estudiante{% endblock %}
        {% block body %}Contenido por defecto{% endblock %}
    </div>
</div>